.virtual-tour{
    @include mobile{
        padding: 5vh 0;
    }
    h2{
        padding-right: 20%;
        @include mobile{
            padding-right: 0;
        }
    }
    img{
        border-radius: 0.8rem;
    }
    .text-content{
        margin-top: 4rem;
        @include mobile{
            margin-top: 1.5rem;
        }
    }
}