.home-testimonial{
    padding: 10vh 0 5vh 0;
    @include mobile{
        padding-top: 0;
    }
    .title-sub-head{
        color: $brown;
    }
    .testimonial-slider{
        margin: 3rem 0;
        // display: flex; 
        justify-content: center;
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * -.5);
        @include mobile{
            display: block;
        }
        &:after{
            content: 'flickity';
            display: none;
            @media screen and ( min-width: 989px ) { 
                content: '';
            }
        }
        .slides{
            width: calc(25% - 1.5rem);
            margin-right: 1.5rem;
            position: relative;
            @include mobile{
                width: 100%;
                margin-right: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            .image{
                width: 100%;
                height: 0;
                padding-top: 100%;
                background: $grey url(../img/loader.png) center center no-repeat;
                background-size: 30px;
                border-radius: 50%;
                margin-bottom: 3rem;
                position: relative;
                overflow: hidden;
                img, video{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    left: 0;
                    top: 0;
                }
                .video-icon{
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    background: $white;
                    right: 5%;
                    bottom: 15%;
                    border-radius: 50%;
                    &:after{
                        content: "";
                        position: absolute;
                        width: 0; 
                        height: 0; 
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                        border-left: 20px solid $brown;
                        left: 50%;
                        top: 50%;
                        transform: translate(-30%, -50%);
                    }
                    &.playing{
                        &:after{
                            width: 15px;
                            height: 15px;
                            border: 0;
                            border-left: $brown solid 4px;
                            border-right: $brown solid 4px;
                        }
                    }
                }
            }
            .description{
                text-align: center;
                font-size: 0.9rem;
                padding: 0 2%;
                cursor: pointer;
                .fulltext{
                    display: none;
                }
                &.show-text{
                    .excerpt{
                        display: none;
                    }
                    .fulltext{
                        display: block;
                    }
                }
                .user-name{
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    font-weight: 500;
                }
                .user-designation{
                    font-size: 0.85rem;
                    font-weight: 500;
                }
            }
            a{
                &.hidden{
                    display: none;
                    z-index: 2;
                }
            }
        }
    }
}