@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family:"Optima";
    src:url("../fonts/Optima.woff2") format("woff2"),url("../fonts/Optima.woff") format("woff"),url("../fonts/Optima.otf") format("opentype");
    font-style:normal;font-weight:400;
}