$font:'Montserrat',sans-serif; 
$heading:'Optima',sans-serif; 

/* color variables */
$black:#000000;
$white:#ffffff;
$orange:#F37A21;
$blue:#1E3D72;
$blue-bg:#003874;
$blue-600:#2A5EA7;
$light-blue:#6291DE;
$brown:#763300;
$brown-body-text:#655C59;
$brown-light:#FFEDE5;
$grey:#E4E4E4;
$dark-grey:#9A9797;
$title-text:#001B3E;
$light:#F9F9FF;
$light-grey:#42526E;
$blue-btn-text:#D6E3FF;
$brown-btn-text:#FFDBC9;
$btn-grey:#7F7667;
/*Transition*/
$base-transition: all 0.3s ease-in-out;

