.blogs-listing-cont{
    width: 100%;
    margin: 150px 0 50px 0;
    padding: 0px;
    .head{
        width: 98%;
        margin: 0 auto;
        padding: 0 0 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            width: auto;
            margin: 0px;
            padding: 0px;
            font-size: 3.5rem;
            color: $title-text;
            line-height: 1;
            font-family: $heading;
            @include mobile{
                font-size: 2rem;
            }
            span{
                position: relative;
                display: inline-block;
                .svg-container{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 100%;
                    top: 50%;
                    z-index: -1;
                    overflow: hidden;
                    svg{
                        width: 100%;
                    }
                }
            }
            
        }
        .searchbox{
            width: auto;
            margin: 0px;
            padding: 0px;
            .search-icon{
                width: 25px;
                margin-right: 0.5rem;
                cursor: pointer;
                position: relative;
                @include mobile{
                    margin-right: 0;
                    display: none;
                }
                button{
                    width: 25px;
                    height: 25px;
                    border: none;
                    background: transparent;
                    svg{
                        width: 100%;
                        fill: $black;
                        position: relative;
                        z-index: 2;
                        transition: $base-transition;
                        right: 0;
                    }
                }
                .search-input{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    background: transparent;
                    border: $black solid 1px;
                    border-radius: 11px;
                    padding: 0.5rem 3rem 0.5rem 1rem;
                    font-size: 0.9rem;
                    transform: translate(0,-50%);
                    z-index: 1;
                    width: 300px;
                    display: none;
                    outline: 0;
                }
                &.active{
                    svg{
                        right: 0.5rem;
                    }
                    .search-input{
                        display: block;
                    }
                }
            }
        }
        
    }
}
